@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
#body{
    font-family: 'Quicksand', sans-serif;
    padding: 12px;
    border: 1px solid gray;
    margin: 8% 25%;
    border-radius: 8px;
    background-image: url(aaa.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: right;
    width: 700px;
    font-size: small;
    height: 600px;
}
div h2 {
    font-family: 'Quicksand', sans-serif;
}
#un{
    width: 315px;
}
#id{
    text-decoration: none;
    color: #228ce2;
    padding: 7px;
}
#pass{
    font-size: small;
}
#id:hover{
    background-color: #74c1e02c;
}
input{
    padding: 10px;
}
#sign{
    border: none;
    background-color: white;
    padding: 7px 5px;
    color: #228ce2;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}
#sign:hover{
    background-color: #4aade72d;
}
#let{
    font-size: small;
}
#nxt{
    border: none;
    background-color: #228ce2;
    padding: 7px 20px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}
.hello{
    position: relative;
    right: 158px;
    bottom: 0px;
    font-size: 10px;
    font-weight: 200;
    color: #cecece;
    transition: all 0.5s ease;
    pointer-events: none;
  }
  .bye{
    position: relative;
    left: 14px;
    bottom: 32px;
  }
  input[type=text]:focus~.he {
    color: black;
    bottom: 30px;
    font-size: 14px;
  }
  input[type=text]:focus~.she {
    color: black;
    bottom: 30px;
    font-size: 14px;
  }
  input[type=email]:focus~.bye{
    color: black;
    bottom: 62px;
    font-size: 14px;
  }
  input:focus~.js {
    color: black;
    bottom: 30px;
    font-size: 14px;
  }
    input:focus~.ps {
    color: black;
    bottom: 30px;
    font-size: 14px;
  }
  a{
    border-radius: 5px;
  }
